<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sgsmessaging</package>
	<author>Bailly RURANGIRWA</author>
	<description>
		${project.parent.description}
	</description>
	<!-- <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL> -->
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	<require_modules>
		<require_module version="1.2-SNAPSHOT">org.openmrs.module.appointments</require_module>
	</require_modules>

	<!-- Module Activator -->
	<activator>org.openmrs.module.sgsmessaging.SGSMessagingModuleActivator	</activator>


	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.sgsmessaging.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

		SGSMessagingMessage.hbm.xml

	</mappingFiles>
	
		<globalProperty>
		<property>sgsmessaging.messagingConfig</property>
		<defaultValue></defaultValue>
		<description>
			A JSON configuration showing the number of days before
			sending an SMS reminder for each appointment service and the actual
			message text to send.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>sgsmessaging.postURL</property>
		<defaultValue></defaultValue>
		<description>RapidPro URL to post to</description>
	</globalProperty>

	<globalProperty>
		<property>sgsmessaging.Authorization</property>
		<defaultValue></defaultValue>
		<description>RapidPro API Token</description>
	</globalProperty>
	
	<globalProperty>
		<property>sgsmessaging.phoneAttribute</property>
		<defaultValue></defaultValue>
		<description>Name of the Person Attribute Type used to record phone contacts for patients during registration</description>
	</globalProperty>
	
	<globalProperty>
		<property>sgsmessaging.countryCode</property>
		<defaultValue></defaultValue>
		<description>Phone Country Code (eg. +251 For EThiopia or +250 For Rwanda)</description>
	</globalProperty>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

